body {
  background-color: black;
  padding: 50px;
  font-family: 'Bebas Neue', sans-serif;
  color: red;
}

h1 {
  font-size: 60px;
}

.title {
  text-align: center;
}

.pictures {
  background-color: darkblue;
  display: flex;
  height: 50vh;
}

img {
  width: 50%;
  height: 60vh;
  object-fit: cover;
}


.link-container {
  display: flex;
  justify-content: center;
}


.link {
  color: white;
  font-size: 30px;
  margin: 15px;
}


button {
  font-family: 'Bebas Neue', sans-serif;
  padding: 10px;
  width: fit-content;
  font-size: 20px;
}

button a {
  text-decoration: none;
  color: red;
}


